.firstDiv {
    background-image: url('gracieBJJ.webp');
    background-size: cover 70%;
    background-position: center;
    width: 400px;
    height: 750px;
    border: 5px gray solid;
}
body {
    background-color: black;
}
.secondDiv {
    background-color: black;
    width: 400px;
    height: 125px;
    margin-top: 60%;
    opacity: .7;
    text-align: center;
    display: grid;
    justify-content: center;
}
.companyHeader {
    opacity: 1;
    color: white;
    font-family: cursive;
}
.companySub {
    opacity: 1;
    color: white;
    font-family: cursive;
    margin-top: -3%;
}
.thirdDiv {
    background-color: #28abe2;
    width: 2000px;
    height: 400px;
    align-items: center;
    border: 5px gray solid;
    text-align: center;
}
.seniorDiv {
    display: flex;
    align-items: center;
}
.inputSenior {
    display: flex;
    justify-content: center;
}
.inputJunior {
    margin: 2%;
}
.inputText {
    margin-bottom: -1%;
}
#submitButton {
    border: 2px black solid;
}
.inputs {
    border: 2px black solid;
}